.chose
  height 100%
  width 100%
  padding-top 40px
  margin-bottom 40px
  .carousel // 轮播
    width 100%
    height 341px
    margin-top 15px
    .carousel_top
      width 100%
      height 192px
      overflow hidden
      display flex
      .carousel_top_content
        display flex
        justify-content space-between
        align-items center
        height 100%
        a
          display inline-block
          width 335px
          height 192px
          background-color white
          margin-left 15px
          img
            width 100%
          &:nth-Child(1)
            background-image url("//yanxuan.nosdn.127.net/c6a391ff65f798cbf51030cb35ccdb25.jpg")
            background-size 100%
          &:nth-Child(2)
            background-image url("//yanxuan.nosdn.127.net/9c9bbc692ff2b98e729a67ecca003dff.jpg")
            background-size 100%
          &:nth-Child(3)
            background-image url("//yanxuan.nosdn.127.net/b8cfc8fefa68033b9f458527bc6f1682.jpg")
            background-size 100%
          &:nth-Child(4)
            background-image url("//yanxuan.nosdn.127.net/3e3901015b3ea54ad751289513ba373c.jpg")
            background-size 100%
          .carousel_top_text
            width 223px
            height 100px
            margin auto
            margin-top 25px
            text-align center
            background-color white
            opacity 0.9
            .strict
              width 100%
              height 36px
              display inline-block
              line-height 36px
              font-size 12px
              .iconfont
                display inline-block
            .fairy
              height 30px
              font-size 19px
              color black
            .subtrac
              height 20px
              font-size 13px
              color black
    .carousel_buttom
      width 100%
      height 143px
      .carousel_buttom_wrap
        width 100%
        height 143px
        white-space nowrap
        padding-left 8px
        border-bottom 9px solid #ededed
        overflow hidden
        display flex
        .carousel_buttom_content
          height 100%
          display flex
          justify-content space-between
          align-items center
          a
            display inline-block
            width 82px
            height 105px
            margin 24px 0 0 14px
            img
              display inline-block
              width 82px
              height 82px
            .buttom_title
              width 110%
              font-size 12px
              text-align center
              span
                width 100%
                display inline-block
                margin 5px 0 0 -10px
                color #222
            .title
              width 100%
              margin -96px 0 0 18px
              font-size 12px
              color white
  .chose_recommend // 为你推荐
    width 100%
    height 100%
    .chose_recommend_title
      width 100%
      height 54px
      font-size 16px
      line-height 54px
      text-align center
      color #333
      p
        display inline-block
    .chose_rec
      width 90%
      height 580px
      margin auto
      .chose_top
        width 100%
        height 270px
        border 1px solid #d9d9d9
        a
          width 100%
          height 100%
          .chose_top_img
            position relative
            width 100%
            height 193px
            background-color white
            img
              display inline-block
              width 100%
              height 100%
              background-size 100%
            .img_text
              width 65px
              height 16px
              font-size 12px
              text-align center
              color black
              margin -164px 0 0 16px
              z-index 1
              span
                display inline-block
                width 65px
                background-color white !important
                border 1px solid #d9d9d9
                border-radius 10px
                height 16px
                line-height 16px
                color #333
          .how
            float left
            width 70%
            height 30px
            font-size 18px
            line-height 30px
          .price
            float right
            width 30%
            height 30px
            font-size 18px
            line-height 30px
            span
              display inline-block
      .chose_center_bottom
        width 100%
        height 136px
        border 1px solid #d9d9d9
        margin-top 15px
        a
          position relative
          width 100%
          height 100%
          display block
          .left
            float left
            width 60%
            height 100%
            .left_img
              width 100%
              height 50px
              text-align center
              margin-top 27px
              line-height 50px
              img
                display inline-block
                width 23px
                height 23px
                border-radius 50%
                vertical-align middle
              span
                display inline-block
                height 23px
                line-height 23px
                font-size 12px
            .left_text
              text-align center
              width 100%
              height 60px
              span
                display inline-block
                width 160px
                overflow hidden
                text-overflow ellipsis
                white-space nowrap
          .right
            float right
            width 40%
            height 100%
            .right_img
              width 100%
              height 100%
              img
                display inline-block
                width 100%
                height 100%
                background-size 100%
              .right_text
                width 80%
                height 16px
                font-size 13px
                background-color white
                color black
                margin -124px 0 0 -2px
                text-align center
                span
                  display inline-block
                  background-color white !important
                  height 16px
                  line-height 16px
                  border-radius 10px
                  border 1px solid #d9d9d9
                  padding 0 7px
                  color #333

  .ten // 十点一刻
    width 100%
    height 285px
    border-top 9px solid #ededed
    margin auto
    .ten_content
      width 100%
      height 100%
      .ten_title
        width 100%
        height 54px
        font-size 16px
        line-height 54px
        text-align center
        color #333
      .talk_content
        width 100%
        height 230px
        display flex
        overflow hidden
        .talk_slide
          height 100%
          display flex
          justify-content space-between
          align-items center
          a
            display inline-block
            width 290px
            height 205px
            text-align center
            margin 10px
            .img
              width 100%
              height 100%
              background-image url(//yanxuan-static.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/icon-normal/tenFifteen-2a1d0ea11b.png)
              background-size 100%
              .talk
                width 100%
                height 40px
                font-size 12px
                line-height 40px
                color #333
                span,.iconfont
                  display inline-block
              .talk_live
                width 100%
                height 40px
                font-size 19px
                line-height 50px
                font-weight 700
                color #333
              .talk_need
                width 100%
                height 30px
                font-size 15px
                color #333
                span
                  display inline-block
              .talk_name
                width 100%
                height 30px
                margin auto
                .talk_img
                  display inline-block
                  width 200px
                  height 23px
                  img
                    display inline-block
                    width 23px
                    height 23px
                    vertical-align middle
                    border-radius 50%
                  .talk_perple
                    display inline-block
                    width 80px
                    height 23px
                    color #333
                    span
                      display inline-block
          a
            display inline-block
            width 290px
            height 205px
            text-align center
            margin 10px
            .talk_two
              position relative
              width 90%
              height 86%
              border 6px solid #e6e6e6
              background-color #fafafa
              .talk_text
                position absolute
                width 140px
                height 20px
                font-size 16px
                left 0
                right 0
                top 0
                bottom 0
                margin auto
                display flex
                p
                  display inline-block
                  margin-right 5px
                .iconfont
                  display inline-block
  .look //严选LOOK
    width 100%
    height 450px
    border-top 9px solid #ededed
    .look_title
      width 100%
      height 54px
      font-size 16px
      line-height 54px
      text-align center
      color #333
    a
      width 100%
      height 250px
      display inline-block
      img
        width 100%
        height 100%
        display inline-block
        background-size 100%
      .look_content
        width 90%
        height 140px
        margin auto
        .look_con
          width 100%
          height 40px
          line-height 40px
          img
            width 23px
            height 23px
            vertical-align middle
            border-radius 50%
          .look_name
            display inline-block
          p
            width 100%
            height 50px
            line-height normal
  .more_title
    width 100%
    height 54px
    font-size 14px
    line-height 54px
    text-align center
    color #333
  .more // 更多精彩
    width 100%
    height 100%
    .picture_One
      width 90%
      height 250px
      margin auto
      a
        display block
        width 100%
        height 100%
        border  10px solid #fff
        box-sizing border-box
        .more_img
          position relative

          width 100%
          height 180px
          .img_conter
            width 100%
            height 100%
            display inline-block
            img
              display inline-block
              width 100%
              height 100%
              background-size 100%
          .text
            width 100%
            height 50px
            white-space nowrap
            overflow hidden
            text-overflow ellipsis
            line-height 50px
            color black

    .more_content
      width 100%
      height 100%
      .picture
        width 90%
        height 250px
        margin auto
        a
          display block
          width 100%
          height 100%
          border  10px solid #fff
          box-sizing border-box
          .more_img
            position relative
            width 100%
            height 180px
            .img_left
              width 66.6%
              height 100%
              display inline-block
              img
                display inline-block
                width 100%
                height 100%
                background-size 100%
            .more_top
              position absolute
              width 33.3%
              height 50%
              display block
              right 0
              top 0
              img
                display inline-block
                width 100%
                height 100%
                background-size 100%
            .more_bottom
              position absolute
              width 33.3%
              height 50%
              right 0
              bottom 0
              img
                display inline-block
                width 100%
                height 100%
                background-size 100%
            .text
              width 100%
              height 50px
              white-space nowrap
              overflow hidden
              text-overflow ellipsis
              line-height 50px
              color black
