.right // 右侧
  width 76.5%
  height 100%
  display inline-block
  .right_title
    width 100%
    height 160px
    font-size 13px
    img
      display block
      width 90%
      height 100px
      margin 14px
    .title
      width 100%
      height 40px
      line-height 40px
      text-align center
      .iconfont,span
        display inline-block
  .right_picture
    width 100%
    height 100%
    .right_lists
      width 100%
      .right_li
        display inline-block
        width 32%
        height 118px
        overflow hidden
        img
          width 81px
          height 81px
          background-size 100%
          margin auto
        .right_text
          width 100%
          height 50px
          text-align center
          font-size 12px
          vertical-align top
          line-height 20px