.profile
  width 100%
  height 100%
  .profile_content
    width 90%
    height 100%
    padding-top 40px
    margin auto
    .strict
      width 100%
      height 200px
      text-align center
      .strict_img
        width 100%
        height 200px
        line-height 200px
        img
          width 150px
          display inline-block
          background-size 100%
    .login
      width 100%
      height 150px
      .login_phone
        width 100%
        height 45px
        background #b4282d
        border 1px solid #b4282d
        text-align center
        line-height 45px
        margin-bottom 10px
        .iconfont
          color #fff
        span
          display inline-block
          width 103px
          height 45px
          color white
          font-size 14px
      .login_mail
        width 100%
        height 45px
        border 1px solid #b4282d
        text-align center
        line-height 45px
        color #b4282d
        span
          display inline-block
          width 103px
          height 45px
          color #b4282d
          font-size 14px
        .icon-xin
          color #b4282d
          font-size 14px
      .register
        width 100%
        height 45px
        text-align center
        line-height 45px
        span
          display inline-block
          width 115px
          height 45px
          font-size 14px
    .foot
      width 100%
      height 100px
      margin-top 168px
      .foot_content
        width 80%
        margin auto
        display flex
        text-align center
        .footwei
          width 100px
          border-right 1px solid #979797
        .footqq
          width 100px
          border-right 1px solid #979797
        .footbo
          width 100px
  .iconfont
    display inline-block
    font-size 16px
    color #333